/* nav bar styles */
.banner{
  background-image: url('../Assets/Hero-bg.png');
  width: 1140px;
  height: 700px;
  margin: 0 auto;
 
}
.logo-signup{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px 158px 150px;
  /* padding: 20px; */
}
.logo-signup h3{
    color:#4E47FF;
    height: 51px;
    width: 99px;
    font-weight: bold;
    font-size: 34px;
}
.logo-signup button{
 background-color: #4E47FF;
 color: azure;
  width: 132px;
  height: 48px;
  /* padding: 12px 36px; */
  margin-top: 30px;
  border-radius: 10px;
   font-weight: bold;
   font-size: 16px;
}
.primary-color{
   background-color: #4E47FF;
 color: azure;
}
.banner-section{
 
  display:block;
  justify-items: center;
  
}
.banner-section h1{
  color: #252432;
  font-weight: bold;
  font-size: 65px;
  gap: 0px;

}
.banner-section button{
   background-color: #4E47FF;
 color: azure;
 width: 174px;
 height: 48px;
 gap: 16px;
 border-radius: 10px;
}
/* Action Section Styles */

.action-section{
  background-color: rgb(249, 250, 250);
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  padding: 116px 140px 116px 140px;
  width: 1140px;
  height: 328px;
}
.title{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
}
.subtitle{
  color: #dfdae9;
  /* font-size:10px; */
}
.launch-btn{
  width: 229px;
  height: 48px;
  gap: 10px;
  padding: 12px 36px;
  border-radius: 10px;
}

/* productive users section styles */
.productive-user-section{
  background-color: rgba(117, 114, 213, 0.5);
  /* width: 1140px; */
  /* height: 306px; */
  /* margin: 0 auto; */
  /* padding: 50px 80px; */
  /* border-radius: 24px; */
   padding: 40px 20px;
  border-radius: 20px;
  text-align: center;
  margin: 40px auto;
  max-width: 900px;
  font-family: sans-serif;
}
.productive-user-section div{
   margin: 10px 20px;
}
 
.productive-user-section-title{
  text-align: center;
  padding-top: 50px;
  font-size: 38px;
  font-weight: bold;
}
.productive-users{
  display: flex;
 justify-content:space-around;
 
}
.user-view .users{
  

}

.users {
  color:#4E47FF;
  font-weight: bold;
  font-size: 50px;
  
}

/*     */
/*  */
.testimonials {
  background: #f8f9ff;
  padding: 40px 20px;
  text-align: center;
  font-family: sans-serif;
}

.testimonials h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #1f1f1f;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: left;
}



.reviewer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.reviewer img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
